/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FFFACD;
  margin: auto;
  width: 75%;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.title{
    color: black;
    font-size: 3.0em;
    font-weight: 500;
}

.search_store {
    border-radius: 20px;
}

.checked {
  color: orange;
}

/* Style the search field */
form.search_store input[type=text] {
  border-radius: 20px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search_store button {
  border-radius: 25px;
  float: left;
  width: 20%;
  padding: 10px;
  background: #DAA520; 
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search_store button:hover {
  border-radius: 25px;
  background: #FFDEAD;
}

/* Clear floats */
form.search_store::after {
  content: "";
  clear: both;
  display: table;
}
